

<!-- Clickable transparent background sits behind content.  Click to dismiss -->
<div id="hackground" tappable (click)="hackground()"></div>

<div id="content">

  <div id="windowModalHeader">

    <p id='homeCourtName'>{{court.name.toUpperCase()}}</p>

    <!-- User Info -->
    <div id="courtInfo">
      <div>
        <p class="large">{{court.type}}</p>
        <p class="small">court</p>
      </div>
      <div tappable (tap)='presentHomeCourts()'>
        <p class="large">{{court.baskets}}</p>
        <p class="small">baskets</p>
      </div>
      <div>
        <p class="large">{{openString}}</p>
        <p class="small">now</p>
      </div>
    </div>

  </div>
    <the-window [windowData]='court.windowData'></the-window>
  <div id='bottomButtons'>

    <div tappable (tap)="presentHours()">
      <ion-icon name='time'></ion-icon>
    </div>

    <div tappable (tap)="presentInviteFriends()">
      <ion-icon name='ios-megaphone'></ion-icon>
    </div>

    <div tappable (tap)="presentClosures()">
      <ion-icon name='hand'></ion-icon>
    </div>



  </div>

</div>
