window-modal {


  #hackground{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
    background-color: #131313;
    opacity: .5
  }

  #content{

    width: 100vw;
    border-radius: 2vw;
    height: 95vw;
    position: absolute;
    top: 58vw;
    background: linear-gradient(to bottom,  #33ccff 0%, #fff  95%);

    // court name and info
    #windowModalHeader{

      border-top: 1px solid $primary;
      border-top-left-radius: 2vw;
      border-top-right-radius: 2vw;
      height: 25vw;
      width: 100%;
      padding: 0;

      #homeCourtName{
        margin-top: 3vw;
        margin-bottom: 2vw;
        //border: 1px solid red;
        text-align: center!important;
        font-family: axis;
        color: $offWhite;
        font-size: 5.5vw;
        height: 8vw;  width: 100%;
        padding-left: 3vw;
        padding-right: 3vw;

        // Ellipsis overflow when the name is too long to fit on one line
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }


      #courtInfo{

       p {
          text-align: center;
          color: $offWhite;
          margin-top: 0;
          margin-bottom: 0;
                  font-family: quicksand-regular;
        }

     div {
        width: 32%;
        display: inline-block;
      }

      .large{
        font-size: 3.8vw;
      }

      .small{
        font-size: 3.3vw;
      }
    }

    }
      the-window{
        margin-top: 0;
        position: relative;
        // Fix bug - baskets were centered
        text-align: initial;
      }
      // Fixing display bugs
      #activityWrapper{
        text-align: center!important;
        p:nth-child(1){
          text-align: center;
        }
      }

    // Tappable icons on bottom of page
    #bottomButtons{
      width: 100%;
      height: 13vw;
      position: absolute; bottom: 0;
      div{
        //border: 1px solid red;
        height: 100%;
        display: inline-block;
        margin-top: 0;
        width: 16vw;
        text-align:center;
      }

      ion-icon{
        margin-top: 4vw;
        font-size: 7vw;
        color: #bcbaba;
        opacity: 0.9;
        // Give them a quantified width, center them within their element
        width: 5vw;
        text-align: center;
      }
      div:last-child{

      }
      div:nth-child(2){
        margin-right: 24vw
      }
      div:first-child{
        margin-right: 26vw;
      }
    }
  }// content paren

}
