

<!-- Clickable transparent background sits behind content.  Click to dismiss -->
<div id="hackground" (tap)="hackground()"></div>

<!-- Wrapper for our scrollable content -->
<ion-content [style.margin-top]="margin" parallax-header id="courtModal" (ionScroll)="scrollHandler($event)">

  <!-- Name of court, lives at top of modal -->
  <div id="courtName" >
    <p>{{court.name}}</p>
  </div>

  <!-- Court header, the div to which the parallax effect will be applied -->
  <div class="courtHeader">

    <!-- Unchanging court info at top of header -->
    <div id="lineOne">
      <div>
        <p>{{court.type}}</p><p>court</p>
      </div>

      <div>
        <p>{{court.baskets}}</p><p>baskets</p>
      </div>
    </div>

    <!-- The info icons at the bottom of the header -->
    <div id="bottomLine">
      <div>
        <ion-icon name="information-circle"></ion-icon>
      </div>

      <div>
        <ion-icon name="time"></ion-icon>
      </div>

      <div>
        <ion-icon name="ios-megaphone"></ion-icon>
      </div>
    </div>

    <!-- Pick up identifier -->
    <div id="pickUpIdentifier">
      <ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon> <p>pick up</p>
    </div>

  </div>

  <!-- main content, hidden at first, pulled up as the user scrolls -->
  <div class="courtContent">
    <the-window [windowData]=windowData></the-window>
  </div>

</ion-content>
