<ion-navbar *navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
  <ion-content padding>
    <!-- If we're not authenticated show the log in button -->
    <div *ngIf="!auth.isAuthenticated()">
      <button ion-button block color="primary" (click)="auth.login()">Log In</button>
      <p>
        decoded token: {{id_token}}
      </p>
    </div>

    <!-- If we are authenticated show the jwt -->
    <div *ngIf='auth.isAuthenticated()'>
      <p>
        logged in
      </p>
      <button ion-button block color="primary" (click)="auth.logout()">Log out</button>
      <button ion-button block color="primary" (click)="decodeToken()">Decode Token</button>
      <p>
        decoded token: {{id_token}}
      </p>
      <p>
        id_token: {{auth.getStorageVariable("id_token")}}
      </p>
    </div>
  </ion-content>
