<div tappable id="hackground" (tap)="viewCtrl.dismiss({})"></div>

<div id="content" *ngIf="!noHomecourts && !loading">

  <ion-slides pager='true'>
    <ion-slide *ngFor='let court of courts' class='swiper-no-swiping'>
      <p id='homeCourtName' on-swipe-left='slideForward()' on-swipe-right='slideBack()'>{{court.name}}</p>
      <the-window [windowData]='court.windowData'></the-window>
    </ion-slide>
  </ion-slides>
  <div id='bottomButtons'>
    <div tappable (click)='slideBack()'><ion-icon name='arrow-back'></ion-icon></div>
    <div tappable (click)='presentDeleteConfirmation()' *ngIf='myProfile'>
      <ion-icon name='trash'></ion-icon>
    </div>
    <div tappable (tap)='courtSearch()' *ngIf='myProfile'>
      <ion-icon name ='add'></ion-icon>
    </div>
    <div tappable (click)='slideForward()'><ion-icon name='arrow-forward'></ion-icon></div>
  </div>

</div>

<div id="noCourts" *ngIf="noHomecourts && !loading">
  <ion-icon name="add-circle" tappable (tap)="courtSearch()"></ion-icon>
  <p>Add courts where you regularly hoop</p>
</div>

<div id="loading" *ngIf="loading">
  <div class="spinDiv">
    <ion-spinner></ion-spinner>
  </div>
</div>
