<div tappable id="hackground" (tap)="viewCtrl.dismiss({})"></div>

<div id="content">

  <ion-slides pager='true'>
    <ion-slide *ngFor='let court of courts' class='swiper-no-swiping'>
      <p id='homeCourtName' on-swipe-left='slideForward()' on-swipe-right='slideBack()'>{{court.name}}</p>
      <the-window [windowData]='court.windowData'></the-window>
    </ion-slide>
  </ion-slides>
  <div id='bottomButtons'>
    <div tappable (click)='slideBack()'><ion-icon name='arrow-back'></ion-icon></div>
    <div tappable (click)='presentDeleteConfirmation()' *ngIf='myProfile'>
      <ion-icon name='trash'></ion-icon>
    </div>
    <div tappable (tap)='addHomeCourtPressed()' *ngIf='myProfile'>
      <ion-icon name ='add'></ion-icon>
    </div>
    <div tappable (click)='slideForward()'><ion-icon name='arrow-forward'></ion-icon></div>
  </div>

</div>
