<ion-header>
  <ion-navbar>

    <ion-buttons left *ngIf='params.get("fromGamesModal")'>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{navbar}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <p class='instructionHeader'>Please enter information on the temporary closing of this court.</p>

  <ion-item no-lines class="time item">
    <ion-label>start time</ion-label>
    <ion-datetime displayFormat="hh:mm a" [(ngModel)]="startString"
    minuteValues = "0, 15, 30, 45">
    </ion-datetime>
  </ion-item>

  <ion-item no-lines class="time item">
    <ion-label>end time</ion-label>
    <ion-datetime displayFormat="hh:mm a" [(ngModel)]="endString"
    minuteValues = "0, 15, 30, 45">
    </ion-datetime>
  </ion-item>

  <!-- Weekly Repeat -->
  <ion-item no-lines tappable id="repeat"(tap)="toggleRepeat()">
    <p>repeats weekly</p> <p *ngIf="closure.repeat">YES</p> <p *ngIf="!closure.repeat">NO</p>
  </ion-item>

  <ion-item no-lines id="reason" class="item">
   <ion-label color="primary" floating>reason</ion-label>
   <ion-input type="text" min="0" max="10" [(ngModel)]="closure.reason" [attr.maxLength]="40"></ion-input>
 </ion-item>

<!-- Baskets -->
<div id="baskets">
  <p>baskets closed</p>
  <p *ngIf="closure.baskets < params.get('courtBaskets')">{{closure.baskets}}</p>
  <p *ngIf="closure.baskets == params.get('courtBaskets')">all</p>
  <div tappable (tap)="baskets('plus')"><ion-icon name="add"></ion-icon></div>
  <div tappable (tap)="baskets('minus')"><ion-icon name="remove"></ion-icon></div>
</div>


<!-- Days -->
<div id="days" class="item">
  <p>days</p>
  <!-- I did this b/c html was putting margins between the ps when they were on seperate lines-->
  <!-- don't ask why -->
  <p tappable (tap)="daytoggle(0)" [style.color]="getStyle(0)">s</p><p tappable (tap)="daytoggle(1)" [style.color]="getStyle(1)">m</p><p tappable (tap)="daytoggle(2)" [style.color]="getStyle(2)">t</p><p tappable (tap)="daytoggle(3)" [style.color]="getStyle(3)">w</p><p tappable (tap)="daytoggle(4)" [style.color]="getStyle(4)">t</p><p tappable (tap)="daytoggle(5)" [style.color]="getStyle(5)">f</p><p tappable (tap)="daytoggle(6)" [style.color]="getStyle(6)">s</p>
</div>

<div id="errorMessage">
  <p *ngIf="timeError">Start time must precede end time</p>
  <p *ngIf="enterError">Please fill out all fields above</p>
</div>

<button ion-button full class="bottomButton" (tap)=submit()>Submit</button>

</ion-content>
