<ion-header>
  <ion-navbar>
    <!-- <ion-buttons start>
     <button ion-button icon only (tap)="dismiss()">
       <ion-icon name="ios-arrow-round-back"></ion-icon>
     </button>
 </ion-buttons> -->
    <ion-title>Court Closings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="topTab">
    <div tappable (tap)="showing = 'today'" [ngClass]="{'active': showing === 'today'}">
      <p>today</p>
    </div>

    <div tappable (tap)="showing = 'regular'" [ngClass]="{'active': showing === 'regular'}">
      <p>weekly</p>
    </div>
  </div>

  <ion-list *ngIf="showing === 'today' && !loading">
    <!-- Show the closure if today is the day of the week -->
    <div *ngFor="let closure of closures" id="closureWrapper">
    <div id="closure" *ngIf="closure.days[dayOfWeek] > 0">
      <div id="closureHeader">
        <p>{{closure.tss}} - {{closure.tse}}</p>
        <p *ngIf='closure.baskets === 1'>1 basket</p>
        <p *ngIf="closure.baskets > 1 && closure.baskets < courtBaskets">{{closure.baskets}} baskets</p>
        <p *ngIf="closure.baskets === courtBaskets">all baskets</p>
        <div id="days">
          <p [style.color]="getStyle(closure.days, 0)">s</p>
          <p [style.color]="getStyle(closure.days, 1)">m</p>
          <p [style.color]="getStyle(closure.days, 2)">t</p>
          <p [style.color]="getStyle(closure.days, 3)">w</p>
          <p [style.color]="getStyle(closure.days, 4)">t</p>
          <p [style.color]="getStyle(closure.days, 5)">f</p>
          <p [style.color]="getStyle(closure.days, 6)">s</p>
        </div>
      </div>
      <div id="reasonFlag">
        <p>{{closure.reason}}</p>
        <div tappable (tap)="presentFlagActions(closure)">
          <ion-icon ios="ios-flag-outline" md='md-flag'></ion-icon>
        </div>
      </div>
    </div>
  </div>
  </ion-list>


  <ion-list *ngIf="showing === 'regular' && !loading">
    <!-- Show the closure if today is the day of the week -->
    <div *ngFor="let closure of closures" id="closureWrapper">
    <div id="closure" *ngIf="closure.repeat">
      <div id="closureHeader">
        <p>{{closure.tss}} - {{closure.tse}}</p>
        <p *ngIf="closure.baskets < courtBaskets">{{closure.baskets}} baskets</p>
        <p *ngIf="closure.baskets === courtBaskets">all baskets</p>
        <div id="days">
          <p [style.color]="getStyle(closure.days, 0)">s</p>
          <p [style.color]="getStyle(closure.days, 1)">m</p>
          <p [style.color]="getStyle(closure.days, 2)">t</p>
          <p [style.color]="getStyle(closure.days, 3)">w</p>
          <p [style.color]="getStyle(closure.days, 4)">t</p>
          <p [style.color]="getStyle(closure.days, 5)">f</p>
          <p [style.color]="getStyle(closure.days, 6)">s</p>
        </div>
      </div>
      <div id="reasonFlag">
        <p>{{closure.reason}}</p>
        <div tappable (tap)="presentFlagActions(closure)">
          <ion-icon ios='ios-flag-outline' md='md-flag'></ion-icon>
        </div>
      </div>
    </div>
  </div>
  </ion-list>

  <button class='bottomButton' ion-button full (tap)="presentAddClosing({}, false)">Add Closing</button>

  <div id="loading" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>
