

<div class="main">
  <!-- An unordered list is completely useless here, -->
  <!-- but I like to use it for repeating elements.-->
  <ul class="progressbar" aria-busy="true" aria-label="Loading domino shop">
    <li class="presentation"></li>
    <li class="presentation"></li>
    <li class="presentation"></li>
    <li class="presentation"></li>
    <li class="presentation"></li>
    <li class="presentation"></li>
    <li class="presentation"></li>
  </ul>
  <p class="text">{{text}}<p>
</div>
