page-profile {
  height: 100vh;
  width: 100vw;
  position: fixed;
   // Parallax header style
   #profileWrapper {
      // background-image: url('../assets/img/IversonStepOver.jpg');
      height: 100vh;
      //position: relative;
      width: 100vw;
    }

    #profileWrapper > img {
      opacity: 0.7;
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
    }

    #profileWrapper ion-item{
      position: static;
      background-color: rgba(0, 0, 0, 0);
    }


    #profileWrapper ion-avatar img {
    //  border: 1px solid blue;
      text-align: center;
      margin: 0 auto;
      width: 38vw;
      height: 38vw;
      z-index: 2;
      opacity: 1 !important;
    }

    // All text on the page
    #profileWrapper p {
      text-align: center;
      font-family: Quicksand-Regular;
      color: white;
      font-weight: bold;
    }
    // Just the Name header
    #profileWrapper > p {
        font-size: 6vw;
        //border: 2px solid blue;
        font-family: FV_Almelo;
    }

    #profileWrapper ion-avatar {
      margin-top: 6vh;
      //border: 2px solid blue;
    }

    #userName{
      width: 95vw;
      margin-left: 2.5vw;
      text-align: center;
      p{
        display: inline-block;
        font-size: 5vw;
        font-family: Axis;
        color: #020202;
        margin-left:.8vw;
        margin-right: .8vw;
      }
      #nickname{
        font-style: italic;
      }
    }

    #userInfo{
      //border: 2px solid blue;
      position: fixed;
      bottom: 15vh;
    }

    #userInfo div {
      width: 30vw;
      margin-left: 2vw;
      height: 15vh;
      display: inline-block;
    }

    #userInfo div p:nth-child(1){
      font-weight: bold;
      font-size: 3.8vw;
      //border: 1px solid blue;
      margin-bottom: 0;
    }

    #userInfo div p:nth-child(2){
      font-size: 3.0vw;
      //border: 1px solid green;
      margin-top: 1vh
    }

    #login {
      button{
        color: white!important;
      }
    }

 }//page-profile paren
