<ion-header no-border>
  <ion-navbar>
    <ion-title>courtsight</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

    <!-- You can't see a profile page unless you are authenticated -->
    <div id='profileWrapper' ion-fixed  *ngIf="auth.isAuthenticated()">
        <img src={{user.backgroundImage}}/>
        <!-- User Avatar -->
        <ion-item no-lines>
          <ion-avatar>
            <img src={{user.avatar}}/>
          </ion-avatar>
        </ion-item>

        <!-- User Name -->
        <div id='userName'>
          <p>{{user.fName}}</p>
          <p *ngIf='user.nName && user.nName != ""' id='nickname'>'{{user.nName}}'</p>
          <p>{{user.lName}}</p>
        </div>

        <!-- User Info -->
        <div id="userInfo">
          <div (tap)="navToFriends()">
            <p>{{user.friends.length}}</p>
            <p>Friends</p>
          </div>
          <div tappable (tap)='presentHomeCourts()'>
            <p *ngIf='homecourtObjects[0]'>{{homecourtObjects[0].name}}</p>
            <p *ngIf='!homecourtObjects[0]'>-</p>
            <p>Homecourt</p>
          </div>
          <div *ngIf='myProfile' tappable (tap)='navToEnterProfileInfo()'>
            <p>Edit</p>
            <p>Profile</p>
          </div>
          <div *ngIf='!myProfile' tappable (tap)='presentAddSheet()'>
            <p>Add</p>
            <p>Friend</p>
          </div>
        </div>

    </div>

    <div *ngIf='!auth.isAuthenticated()' id="login">
      <button ion-button block color="primary" (click)="auth.login()">Log In</button>
    </div>

</ion-content>
