page-profile {


   // Parallax header style
   .profile-parallax {
      // background-image: url('../assets/img/IversonStepOver.jpg');
      height: 100vh;
      position: relative;
    }

    .profile-parallax > img {
      opacity: 0.7;
      position: absolute;
      z-index: -1;
    }

    .profile-parallax ion-item{
      position: static;
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid red;
    }


    .profile-parallax ion-avatar img {
    //  border: 1px solid blue;
      text-align: center;
      margin: 0 auto;
      width: 38vw;
      height: 38vw;
      z-index: 2;
      opacity: 1 !important;
    }

    // All text on the page
    .profile-parallax p {
      text-align: center;
      font-family: Quicksand-Regular;
      color: white;
      font-weight: bold;
    }
    // Just the Name header
    .profile-parallax > p {
        font-size: 6vw;
        //border: 2px solid blue;
        font-family: FV_Almelo;
    }

    .profile-parallax ion-avatar {
      margin-top: 6vh;
      //border: 2px solid blue;
    }

    #userInfo{
      //border: 2px solid blue;
      position: fixed;
      bottom: 15vh;
    }

    #userInfo div {
      width: 30vw;
      margin-left: 2vw;
      height: 15vh;
      display: inline-block;
    }

    #userInfo div p:nth-child(1){
      font-weight: bold;
      font-size: 3.8vw;
      //border: 1px solid blue;
      margin-bottom: 0;
    }

    #userInfo div p:nth-child(2){
      font-size: 3.0vw;
      //border: 1px solid green;
      margin-top: 1vh
    }



 }//page-profile paren
