<div tappable id="hackground" (tap)="viewCtrl.dismiss({})"></div>

<div id="content">

  <!-- Search -->
  <div *ngIf="state === 'search'" class="goldR">
    <p class="cciHeader">
    Searching for your court
    </p>
    <div id="spinDiv">
        <ion-spinner></ion-spinner>
    </div>
  </div>

  <!-- You're good -->
  <div id="checkedIn" *ngIf="state === 'checkedIn'">
    <p>You've checked in to the court</p>
    <p>{{court.name}}</p>
    <p>Have a happy session</p>
  </div>

  <!-- 2 courts found -->
  <div id="closebyCourts" *ngIf="state === 'closebyCourts'">
    <p class = "cciHeader">We found multiple courts at your location</p>
    <p>Please select the court at which you are playing</p>
    <ion-list>
      <div tappable *ngFor = "let court of courts" (tap)='checkedIn(court)'>
        <p>{{court.name}}</p>
      </div>
    </ion-list>
  </div>

  <!-- No Courts Found -->
  <div id="noCourts" *ngIf="state === 'noCourts'">
    <p class="cciHeader">We found no courts at your current location</p>
    <!-- whether or not we found a court close to them -->
    <p *ngIf="courts[0]">Here are a few courts that are close by</p>
    <p *ngIf="!courts[0]">We are based solely in NYC at the moment. Soon we will be coming to a court near you</p>
    <ion-list>
      <div *ngFor="let court of courts" (tap)="moveMapDismiss(court.location)">
        <p>{{court.name}}</p>
        <p>view on map</p>
      </div>
    </ion-list>
  </div>

<!-- Need a solution for this that doesnt alter views of other windows -->
<!-- Either an individual modal for the window or a div seperate from content that houses the window -->
  <!-- The Window -->
  <the-window *ngIf="state === 'window'" [windowData]=court.windowData></the-window>
</div>
