<!--
  Generated template for the BasketList component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<!-- Displaying the total number of players on the court -->
{{dummy}}
<div id="totalPlayers">
  <p>Total Players</p>
  <p id="totalNumber">{{court.totalPlayers}}</p>
</div>

<!-- The list of baskets itself
<ion-list>
  <ion-item class="oneCourt" *ngFor="let basket of court.basketArray"
    (tap)="presentDetailedCourtPage(basket)"
    (press)="presentEnterCourtInfoPage(basket)"
  >
    <div id='gamediv'> <h3>game</h3> <h1>{{basket.game}}</h1> </div>

  </ion-item>
</ion-list> -->
<div id="baskets">
  <p id="basketListHeader">CURRENT GAME</p>
  <div class="basketAndHeader" *ngFor="let basket of court.basketArray">

    <p>basket {{basket.basketNo}}</p>

    <div class="oneBasket"
    (click)="presentDetailedBasketInfo(basket)"
    (press)="presentGamePrompt(basket, court.totalBaskets)">
      <p>{{basket.game}}</p>
    </div>

  </div>
</div>
