<!--
  Generated template for the BasketList component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<!-- The court header -->
<div id="courtHeader">
  <p>{{court.name}}</p>
</div>
<!-- Displaying the total number of players on the court -->
<h4 style="text-align: center;">Total Players <ion-badge>{{court.totalPlayers}}</ion-badge></h4>


<!-- The list of baskets itself -->
<ion-list>
  <ion-item class="oneCourt" *ngFor="let basket of court.basketArray"
    (tap)="presentDetailedCourtPage(basket)"
    (press)="presentEnterCourtInfoPage(basket)"
  >
    <div id='gamediv'> <h3>game</h3> <h1>{{basket.game}}</h1> </div>
    <div id=skilldiv> <h3>skill level</h3> <h1>{{basket.skillLevel}}</h1></div>
  </ion-item>
</ion-list>
