<ion-card>

  <div class="postHeader">

    <!-- Avatar and name -->
    <div id=avatarDiv>
      <img src={{postData.user.avatar}}/>
      <p>{{postData.user.name}}</p>
    </div>

    <!-- TimeStamp -->
    <div id="tsDiv">
      <p>
        <!-- Give me the date String, chop off the year -->
        {{postData.timeStamp.toDateString()
        .substring(0, postData.timeStamp.toDateString().length - 5 )}}
      </p>
    </div>

    <div id="validDivForPost">
      <p>{{postData.validity.total}}</p>
      <ion-icon name="thumbs-up"></ion-icon>
    </div>

  </div>

  <img id="postPicture" src={{postData.picture}}/>
  <p id="pictureCaption">{{postData.caption}}</p>

</ion-card>
