the-window {
  height: 62vw;
  width: 100vw;
  position: relative;
  //border: 1px solid red;


  // Classes used across the window
  .windowHeaders {
    margin-left: 1vw;
    margin-top: .5vw;
    font-family: Quicksand-bold;
    color: black;
    font-size:3.0vw;
    color: $text;
    margin-bottom: 0;
    //border: 1px solid red;
  }

  .livingTimestamp{
    //color: green !important;
    //font-family: NBA_76ers;
    font-size: 3vw;
    position: absolute;
    right: 1vw;
    bottom: -2vw;
    color: grey;
  }
}

#windowWrapper{
  // border: 1px solid blue;
  height:58vw;
  width: 95vw;
  position: relative;
  background-color: $background;
  margin-left: 2.5vw;
  border-radius: 1vw;
  //border-top-left-radius: 0;
  box-shadow: 1px 1px 1px grey;
}

// The following pertains to the playing now list
#playingNow{
  height: 22vw; width: 100%;
  border-bottom: 1px solid $borderColor;
  padding-top: .1vw;
  //border: 1px solid red;
}
#playingNow ion-scroll{
  //border: 1px solid blue;
  height: 22vw;
  //border: 1px solid blue;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.playerBox{
  //border: 1px solid green;
  display: inline-block;
  // height: 16vw;
  width: 35vw;
  text-align: center;
  position: relative;
  .avatarWrapper{
    //border: 1px solid blue;
    height: 11vw;
    //padding-top: 1vw;
    //border: 1px solid green;
    img {
      border-radius: 25px;
      height:11vw; width: 11vw;
      //margin: auto;
      margin-top: 0!important;
      //padding: .5vw;
      //border: 2px solid $primary;
      margin-bottom: 0;
    }
  }
  p{
    margin-top: -1vw;
    font-size: 2.5vw;
    font-family: quicksand-regular;
    color: black;
    //border: 1px solid red;
    margin: 0;
  }

  #playerDate{
    color: grey;
    font-size: 2vw;
    font-family: Quicksand-regular;
  }
}

#playingNow ion-scroll ion-item:first-child{
  img{
    border: 2px solid green;
  }
}

#playersLoading{
  text-align: center;
  p{
    font-family: Quicksand-regular;
    font-color: grey;
  }
}

#scoutPrompt{
  text-align: center;
  p{
    font-family: Quicksand-regular;
  }
  p:first-child{
    margin: 3vw;
    font-size: 4vw;
    font-family: Quicksand-bold;
    //border: 1px solid red;
    margin-bottom: 2vw;
  }
  p:nth-child(2){
    //font-family: beba-regular;
    margin: 0;
    font-size: 3vw;
    //border: 1px solid black;
  }
}

// Applies to acitvityBox & gameList once they have been validated during scoutprompt
.validated{
  ion-scroll{
    opacity: .3;
  }
  #activityWrapper{
    opacity: .3;
  }
}

// The following all pertains to the activityBox
#activityBox{
  height: 36vw; width: 38%;
  //margin-top: 1vw; margin-bottom: 1vw;
  border-right: 1px solid $borderColor;
  //margin-top: 1vw;  margin-bottom: 1vw;
  display: inline-block;
  position: relative;
  //text-align: center;

  #activityWrapper{
    margin-top: 5.5vw;
    display: inline-block;
    //border: 1px solid blue;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    p{
      //display: inline-block;
      margin: auto;
      color: $text;
    }
    p:nth-child(1){
      font-family: NBA_76ers;
      font-size: 9vw;
    }
    p:nth-child(2){
      font-family: Quicksand-regular;
      font-size: 4.3vw;
      color: black;
    }
  }

  // To account for the extra margin created by the border
  // p:nth-child(1){
  //   margin-top: 0;
  // }
  // p:nth-child(3){
  //   bottom: 0;
  // }
}
/////////////////////////////////////////////////
//////////  End of Activity Box  ////////////////
/////////////////////////////////////////////////


// The following all pertain to the game list
#gameList{
  height: 36vw; width: 62%;
  display: inline-block;
  float: right;
  //position: relative;

  // game basket icons
  .oneBasket {
      height: 18vw;
      width: 18vw;
      margin-left: 6vw;
      margin-top: 5vw;
  }
  // text inside of game basket icons
  .oneBasket p{
    font-size: 6vw;
    margin-top: 2.8vw;
    font-family: NBA_76ers;
    display: inline-block;
    color: $primary;
  }
  // the 'on'
  .oneBasket p:nth-child(2){
    font-size: 2.5vw;
    margin-left: .5vw;
    margin-right: .5vw;
    font-family: Quicksand-regular;
  }

}
  #gameList ion-scroll{
    height: 24vw;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

#noGameDiv{
  height: 12vw;
  margin-top: 6.5vw;
  //border: 1px solid white;
  //margin-left: 3vw;
  text-align: center;
  p{
    font-family: Axis;
    color: grey; font-size: 8vw;
  }
}
