<div id="windowWrapper">
  <!-- Displaying those who are currently at the court -->
  <div id="playingNow">
    <p class="windowHeaders" *ngIf="gotPlayers">Players</p>
    <ion-scroll scrollX="true" *ngIf='gotPlayers && !scoutPrompt'>

<!-- DO NOT allow users to access the profile of other users unless they are authenticated -->
<!-- No navigation to a profile page without authentication -->
        <div class="playerBox" *ngFor='let player of playerData' (click)="presentProfile(player)">
          <!-- (tap)="presentProfile(player)" -->
          <div class="avatarWrapper">
           <img src="data:{{player.avatar.contentType}};base64,{{player.avatar.data}}">
          </div>
          <p>{{player.fName}} {{player.lName}}</p>
          <p id='playerDate'>{{player.hoopString}}</p>
        </div>
    </ion-scroll>

    <!--  Load wheel which displays when fetching players -->
    <div *ngIf='!gotPlayers && !scoutPrompt' id='playersLoading'>
      <ion-spinner></ion-spinner>
      <p>loading players</p>
    </div>

  </div>

  <!-- Box describing the activity or life of the court -->
  <div id="activityBox"
    (dbltap)="verifyCourtside('validateWaitTime')"
    (press)="verifyCourtside('waitTimeModal')"
    [class.validated]="validated.includes('a')"
  >
    <p class="windowHeaders">Wait Time</p>
    <div id="activityWrapper">
      <p [style.color]="getWaitColor()">{{windowData.waitTime}}</p>
      <p>games</p>
    </div>
    <!-- lowercase l -->
    <p #wlivingTimestamp class="livingTimestamp">{{wLivingTimestamp}}</p>
  </div>

  <div id="gameList"
    (dbltap)="verifyCourtside('validateGames')"
    (press)="verifyCourtside('gamesModal')"
    [class.validated]="validated.includes('g')"
  >
    <!-- The '' -->
    <p class="windowHeaders">Games</p>

    <!-- Scrollable list of games -->
    <ion-scroll scrollX="true">
        <div class="oneBasket" *ngFor="let game of windowData.games">
          <p>{{game}}</p><p>on</p><p>{{game}}</p>
        </div>
        <div *ngIf="!windowData.games[0]" id="noGameDiv">
          <p>
            No games
          </p>
        </div>
    </ion-scroll>

    <!-- Living Timestamp - liwercase l -->
    <p #glivingTimestamp class="livingTimestamp">{{gLivingTimestamp}}</p>
  </div>
</div>
