<div id="windowWrapper">
  <!-- Displaying those who are currently at the court -->
  <div id="playingNow">
    <p class="windowHeaders">Players</p>
    <ion-scroll scrollX="true">

<!-- The Iverson Heads -->
<!-- DO NOT allow users to access the profile of other users unless they are authenticated -->
<!-- No navigation to a profile page without authentication -->
        <div class="playerBox">
          <div class="avatarWrapper">
           <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </div>
          <p>Allen Iverson</p>
        </div>

        <div class="playerBox">
          <div class="avatarWrapper">
           <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </div>
          <p>Allen Iverson</p>
        </div>

        <div class="playerBox">
          <div class="avatarWrapper">
           <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </div>
          <p>Allen Iverson</p>
        </div>

        <div class="playerBox">
          <div class="avatarWrapper">
           <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </div>
          <p>Allen Iverson</p>
        </div>

        <div class="playerBox">
          <div class="avatarWrapper">
           <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </div>
          <p>Allen Iverson</p>
        </div>

        <div class="playerBox">
          <div class="avatarWrapper">
           <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </div>
          <p>Allen Iverson</p>
        </div>

        <div class="playerBox">
          <div class="avatarWrapper">
           <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </div>
          <p>Allen Iverson</p>
        </div>

        <div class="playerBox">
          <div class="avatarWrapper">
           <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </div>
          <p>Allen Iverson</p>
        </div>


    </ion-scroll>
  </div>

  <!-- Box describing the activity or life of the court -->
  <div id="activityBox"
    (dbltap)="validate('action')"
    (press)="presentActionModal()"
  >
    <p class="windowHeaders">Action</p>
    <div id="activityWrapper">
      <p [style.color]="getActionColor()">{{windowData.action}}</p>
      <p [style.color]="getActionColor()">{{windowData.actionDescriptor}}</p>
    </div>
    <p class="livingTimestamp" #alivingTimestamp>{{aLivingTimestamp}}</p>
  </div>

  <div id="gameList"
    (dbltap)="validate('games')"
    (press)="presentGamesModal()"
  >
    <!-- The '' -->
    <p class="windowHeaders">Games</p>

    <!-- Scrollable list of games -->
    <ion-scroll scrollX="true">
        <div class="oneBasket" *ngFor="let game of windowData.games">
          <p>{{game}}</p><p>on</p><p>{{game}}</p>
        </div>
        <div *ngIf="!windowData.games[0]" id="noGameDiv">
          <p>
            No games
          </p>
        </div>
    </ion-scroll>

    <!-- Living Timestamp -->
    <p class="livingTimestamp" #glivingTimestamp>{{gLivingTimestamp}}</p>
  </div>
</div>
