<ion-header>
  <ion-navbar>
    <ion-title>New Closure</ion-title>
     <ion-buttons start>
      <button ion-button icon only (tap)="viewCtrl.dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="time item">
    <ion-label>start time</ion-label>
    <ion-datetime displayFormat="hh:mm a" [(ngModel)]="closure.clStart"
    minuteValues = "0, 15, 30, 45">
    </ion-datetime>
  </ion-item>

  <ion-item class="time item">
    <ion-label>end time</ion-label>
    <ion-datetime displayFormat="hh:mm a" [(ngModel)]="closure.clEnd"
    minuteValues = "0, 15, 30, 45">
    </ion-datetime>
  </ion-item>

  <ion-item id="reason" class="item">
   <ion-label color="primary" floating>reason</ion-label>
   <ion-input type="text" min="0" max="10" [(ngModel)]="closure.reason"></ion-input>
 </ion-item>

<!-- Baskets -->
<ion-item id="baskets">
  <ion-label color="primary" floating>baskets</ion-label>
  <ion-input type="number" [(ngModel)]="closure.baskets"></ion-input>
</ion-item>

<!-- Weekly Repeat -->
<ion-item tappable id="repeat"(tap)="toggleRepeat()">
  <p>repeats weekly</p> <p *ngIf="closure.repeat">YES</p> <p *ngIf="!closure.repeat">NO</p>
</ion-item>

<!-- Days -->
<div id="days" class="item">
  <p>days</p>
  <!-- I did this b/c html was putting margins between the ps when they were on seperate lines-->
  <!-- don't ask why -->
  <p tappable (tap)="daytoggle(0)" [style.color]="getStyle(0)">s</p><p tappable (tap)="daytoggle(1)" [style.color]="getStyle(1)">m</p><p tappable (tap)="daytoggle(2)" [style.color]="getStyle(2)">t</p><p tappable (tap)="daytoggle(3)" [style.color]="getStyle(3)">w</p><p tappable (tap)="daytoggle(4)" [style.color]="getStyle(4)">t</p><p tappable (tap)="daytoggle(5)" [style.color]="getStyle(5)">f</p><p tappable (tap)="daytoggle(6)" [style.color]="getStyle(6)">s</p>
</div>

<button ion-button full id="submit" >Submit</button>

</ion-content>
