<!--
  Generated template for the DetailedGameInfo component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-header>
  <ion-navbar>
    <ion-title id="navbarTitle">
      detailed game info
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      Wait: <ion-badge item-right>{{wait}}</ion-badge>
    </ion-item>
    <ion-item>
      Physicality: <ion-badge item-right>{{physicality}}</ion-badge>
    </ion-item>
    <ion-item>
      Ball Movement <ion-badge item-right>{{ballMovement}}</ion-badge>
    </ion-item>


  </ion-list>

  <button ion-button full round (tap)="dismissModal()">dismiss</button>
  <h3></h3>
</ion-content>
