<!--
  Generated template for the DetailedGameInfo component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-header>
  <ion-navbar>
    <ion-title id="navbarTitle">
      {{courtName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p id="whichBasket">BASKET {{basket.basketNo}}</p>
  <ion-list>
    <ion-item no-lines>
      Game <ion-badge item-right>{{basket.game}}</ion-badge>
    </ion-item>
    <ion-item no-lines>
      Average Skill Level <ion-badge item-right>{{basket.skillLevel}}</ion-badge>
    </ion-item>
    <ion-item no-lines>
      Wait <ion-badge item-right>{{basket.wait}}</ion-badge>
    </ion-item>
    <ion-item no-lines>
      Physicality <ion-badge item-right>{{basket.physicality}}</ion-badge>
    </ion-item>
    <ion-item no-lines>
      Ball Movement <ion-badge item-right>{{basket.ballMovement}}</ion-badge>
    </ion-item>


  </ion-list>

  <button ion-button full round (tap)="dismissModal()">dismiss</button>
  <h3></h3>
</ion-content>
