detailed-game-info {

  #whichBasket{
    text-align: center;
    font-family: bulls;
    color: color($colors, primary);
    border-bottom: 2px solid color($colors, primary);
    font-size: 6vw;
    margin-bottom: 1vh;
    width: 90vw;
    margin-left: 5vw;
  }

  ion-item{
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
    border-bottom: 1px solid color($colors, primary) !important;
    width: 80vw !important;
    margin: auto !important;
  }

}
