<div tappable class="hackground" (click)="viewCtrl.dismiss()"></div>

<div class='goldenContent' id='content' [style.margin-top]="margin">

  <!-- Picture -->
  <ion-item no-lines>
    <ion-avatar>
      <img src="data:{{user.avatar.contentType}};base64,{{user.avatar.data}}"/>
    </ion-avatar>
  </ion-item>

  <!-- User Name -->
  <div id='userName'>
    <p>{{user.fName}}</p>
    <p *ngIf='user.nName && user.nName != ""' id='nickname'>{{user.nName}}</p>
    <p>{{user.lName}}</p>
  </div>

  <!-- User Info -->
  <div class='bottomInfo' id="myInfo" *ngIf='myProfile'>
    <div (tap)="navToFriends()">
      <p class="small">Friends</p>
      <p class="large">{{user.friends.length}}</p>
    </div>
    <div tappable (tap)='presentHomeCourts()'>
      <p class="small">Homecourt</p>
      <p class="large">{{homecourtName}}</p>
    </div>
  </div>

  <!-- User info when looking at another person's profile -->
  <div class='bottomInfo' id="yourInfo" *ngIf=!myProfile>
    <div (tap)="navToFriends()">
      <p class="small">Friends</p>
      <p class="large">{{user.friends.length}}</p>
    </div>
    <div tappable (tap)='presentHomeCourts()'>
      <p class="small">Homecourt</p>
      <p class="large">{{homecourtName}}</p>
    </div>
    <div tappable (tap)="addFriend()">
      <p class="small" *ngIf="!isMyFriend()">Add</p>
      <p class="small" *ngIf="isMyFriend()">Remove</p>
      <p class="large">Friend</p>
    </div>
  </div>


</div>
