// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/





// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #33ccff,
  secondary:  #ff5722,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #131313

  //navy:       #000059,
  //cement:     #AEB2BA
);

$primary: #33ccff;
$offWhite : #fffff0;
$blackshade1: #131313;

$background: white;
$text: #131313;
$borderColor: #d3d3d3;

$emptyYellow: #FFB300;

$refresher-icon-color: #000;

$refresher-text-color: #000;


$tabs-ios-tab-icon-color: $primary!important;
$tabs-md-tab-icon-color: $primary!important;
$tabs-ios-background: $background;
$tabs-md-background: $background;

$text-input-highlight-color-valid: none;

$secondary_text: #757575;

// app wide theming
$background-color: #fdfdfd;
$toolbar-border: none;

$select-background-color: #fdfdfd;
$in-primary-text: white;

$select-ios-icon-color: #fdfdfd;
$select-md-icon-color: #fdfdfd;

$select-ios-padding-top: 6%;
$select-md-padding-top: 6%;

$searchbar-ios-background-color: white;
$searchbar-ios-input-background-color: #e9e9e9;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Action sheet styling
// $action-sheet-ios-border-color: #030303;
// $action-sheet-ios-button-text-color: $primary;
// $action-sheet-ios-button-background-activated: #030303;
// //Alert Styling
// $alert-ios-background: #131313;
// $alert-ios-sub-title-text-color: $offWhite;
// $alert-ios-sub-title-font-size: 17px;
// $alert-ios-button-background-color-activated: #111111;
// $alert-ios-button-text-color: $primary;
// $alert-ios-button-border-color: #030303;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// $action-sheet-md-border-color: #030303;
// $action-sheet-md-button-text-color: $primary;
// $action-sheet-md-button-background-activated: #111111;
// $action-sheet-md-background: #030303;
//Alert Styling

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// $action-sheet-wp-border-color: #030303;
// $action-sheet-wp-button-text-color: $primary;
// $action-sheet-wp-button-background-activated: #030303;
//Alert Styling
// $alert-wp-background: #131313;
// $alert-wp-sub-title-text-color: $offWhite;
// $alert-wp-button-background-color-activated: #111111;
// $alert-wp-button-text-color: $primary;
// $alert-wp-button-border-color: #030303;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
