<div class="hackground" tappable (click)="viewCtrl.dismiss()"></div>

<div id="content">

  <p id="title">Hoop Invitation</p>
  <p class='header'>From</p>

  <!-- Avatar -->
  <div id="avatar" tappable (tap)="presentProfileModal()">
    <img *ngIf=!loading src="data:{{inviter.avatar.contentType}};base64,{{inviter.avatar.data}}"/>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>

  <!-- Message -->
  <p id="inviter">{{inviterName}}</p>

  <!-- When -->
  <div id="whenWhereWrapper">
    <div class="whenWhere">
      <p class='header'>At</p>
      <p>{{payload.courtName}}</p>
    </div>

    <!-- Where -->
    <div class="whenWhere">
      <p class='header'>On</p>
      <p>{{when}}</p>
    </div>
  </div>


  <!-- I'm In -->
  <div id="bottomButtons">

    <!-- Can't  -->
    <div tappable (tap)="respond(false)">
      <p>Let's hoop</p>
    </div>

    <div tappable (tap)="respond(true)">
      <p>I'm in</p>
    </div>

    <!-- Dismiss -->
    <div tappable (tap)="viewCtrl.dismiss()">
      <p>Dismiss</p>
    </div>
  </div>

</div> <!-- content paren -->
