// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  //background-image: url('../assets/img/basketball-floor-texture.jpg');
  background-size: contain;
}

ion-navbar ion-title{
  font-family: bulls !important;
}

#selectDiv{
  border-radius: 3px;
  background-color: $select-background-color;
  height: 8%;
  box-shadow: 0px 1px 1px grey;
  display: table;
  width: 100%;
}

// Centering of the following 2 divs on various screens can be an issue
// perhaps a solution that uses table cells
#selectDiv > p{
  font-size: 5vw;
  color: $in-primary-text;
  float: left;
  vertical-align: middle;
  padding-left:5%;
}

#selectDiv > ion-select{

  //border: 1px solid black;
  float: right;
  vertical-align: middle;
  padding-right: 5%;
}

@font-face {
  font-family: "bulls";
  src: url("../assets/fonts/bulls.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "NBA_Celtics";
  src: url('../assets/fonts/NBA_Celtics.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "NBA_Cavaliers";
  src: url('../assets/fonts/NBA_Cavaliers.ttf') format("truetype");
  font-style: normal;
}
