// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
    background-size: contain;
}

ion-navbar ion-title{
  font-family: Quicksand-Bold;
  color: black;
}

ion-navbar{
  background-color: black;
  opacity: 0.7;
}

#selectDiv{
  border-radius: 3px;
  background-color: $select-background-color;
  height: 8%;
  box-shadow: 0px 1px 1px grey;
  display: table;
  width: 100%;
}

// Centering of the following 2 divs on various screens can be an issue
// perhaps a solution that uses table cells
#selectDiv > p{
  font-size: 5vw;
  color: $in-primary-text;
  float: left;
  vertical-align: middle;
  padding-left:5%;
}

#selectDiv > ion-select{

  //border: 1px solid black;
  float: right;
  vertical-align: middle;
  padding-right: 5%;
}

// Court report icon
.courtReportIcon {
  background-image: url('../assets/img/courtReport.png');
  background-size: 100%;
}

// OneBasket Style
.oneBasket {
  //background-image:  url('../assets/img/resizedBasket.jpg');
  background-image: url('../assets/img/basket2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  display: inline-block;
  text-align: center;
  //border: 1px solid black;
}

@font-face {
  font-family: "bulls";
  src: url("../assets/fonts/bulls.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "76ers";
  src: url("../assets/fonts/76ers.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "NBA_Celtics";
  src: url('../assets/fonts/NBA_Celtics.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "NBA_Cavaliers";
  src: url('../assets/fonts/NBA_Cavaliers.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("../assets/fonts/Quicksand/Quicksand-Regular.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../assets/fonts/Quicksand/Quicksand-Bold.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "extravaganzza";
  src: url("../assets/fonts/Extravaganzza/extravaganzza-extra-bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "beba-regular";
  src: url('../assets/fonts/Beba/BebasNeue-Regular.otf') format("truetype");
  font-style: normal;
}

// Below is the styling for the shared header on text/picture posts
.postHeader {
  height: 9vw;
  width: 98%;
  margin-left: 1%;
  border-bottom: 1px solid grey;
  position: relative;

  // the avatar and the name
  #avatarDiv {
    display: inline-block;
    // The user's icon
    img {
      height: 7vw;  width: 7vw;
      border-radius: 25px;
      display: inline-block;
      margin-top: 1vw;
      vertical-align: middle;
    }
    // The user's name
    p {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1vw; margin-top: 1vw;
      font-size: 3vw; font-family: Quicksand-bold;  color: black;
    }
  }

  // the timestamp
  #tsDiv{
    display: inline-block;
    position: absolute;   right: 11vw;    bottom: 2vw;
    padding-right: 2vw;

    // The actual text containing the timestamp
    p {
      font-size: 3vw;
      font-family: Quicksand-bold;
    }
  }

  // The thumbs up and the number
  #validDivForPost{
    display: inline-block;
    float: right;
    height: 100%;
    font-size: 5vw;
    margin-right: 1vw;
    width: 10vw;
    position:relative;
    // The Number
    p{
      display: inline-block;
      font-size: 4vw;   font-family: bulls;
      position: absolute;   bottom: 1vw;  right: 5vw;
    }
    // The thumbs up icon
    ion-icon{
      float: right;
      color: $primary;
      position: absolute;  bottom: 2vw;  right: 0;
    }
  }


}
