<ion-menu [content]="nav">
  <ion-content>
    <ion-list [class.someClass]="!authFlag">
      <button ion-item (click)="navToHomecourts()">Homecourts </button>
      <button ion-item (click)="navToProfile()">My Profile</button>
      <button ion-item (click)="navToEnterProfileInfo()">Edit Profile</button>
      <button ion-item (click)="navToFriends()">Friends & Users</button>
      <button ion-item (click)="auth.login()" *ngIf="!authFlag">Login / Signup</button>
      <button ion-item (click)="auth.logout()" *ngIf="authFlag">Logout</button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #nav [root]="rootPage"></ion-nav>
