

<ion-menu [content]="nav">

  <div id="menuDiv" [class.greyButtons]="!authFlag">
    <div class="menuButton" (click)="navToHomecourts()">
      <p>Homecourts</p>
    </div>

    <div class="menuButton" (click)="navToProfile()">
      <p>My Profile</p>
    </div>

    <div class="menuButton" (click)="navToEnterProfileInfo()">
      <p>Edit Profile</p>
    </div>

    <div class="menuButton" (click)="navToFriends()">
      <p>Friends & Users</p>
    </div>

    <div class="menuButton" (click)="inviteFriends()">
      <p>Send Hoop Invitation</p>
    </div>

    <div class="menuButton" (click)="auth.login()" *ngIf="!authFlag">
      <p>Login / Signup</p>
    </div>

    <div class="menuButton" (click)="auth.logout()" *ngIf="authFlag">
      <p>Logout</p>
    </div>
  </div>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
