// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  background-size: contain;
}

.toolbar-background{
  background-color: $background;
}

.toolbar-title{
  color: $primary;
  font-family: Play-Bold;
  text-align: center;
}

// center the toolbar
.toolbar-content{
  position: absolute;
  width: 50%;
  left: 25%;
}


#courtside{
  background-image: url('../assets/img/ballBlack.png');
  background-size: 100%;
  background-repeat: no-repeat;
  //border: 1px solid red;
  height: 12vw;
  width:12vw;
  background-color: $background;
}

// OneBasket Style
.oneBasket {
  //background-image:  url('../assets/img/resizedBasket.jpg');
  background-image: url('../assets/img/basket2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: NBA_76ers;
  //border: 1px solid black;
}

// Styling te side menu - html lives in app.html
#menuDiv{
  height: 100%;
  background: linear-gradient(to bottom,  #33ccff  0%, #fff 100%);
  border-top: 1px solid $primary;
}

.menuButton{
  height: 10vw;
  width: 100%;
  border-bottom: 1px solid $borderColor;
  font-family: axis;
  margin-left: 3vw;
}

.greyButtons{
  div{
    color: rgba(102, 102, 102, .5);
  }
  div:last-child{
    color: black;
  }
}

// ackround for many modal compoents
.hackground{
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -1;
  background-color: #131313;
  opacity: .5
}

// Wrapper for content in the sape of the golden rectangle
.goldenContent{
  width: 95vw;
  height: 58vw;
  margin-left: 2.5vw;
  position: absolute;
  top: 0;
  margin-top: 54vw;
  background: $background;
  border-radius: 1vw;
}

// Header for invite friends loop
.inviteFriendsHeader{
  text-align: center;
  font-family: Quicksand-regular;
}



//Action sheet styling
.action-sheet-options, .action-sheet-group{
  background: #131313!important;

  button{
    background: #131313!important;
  }
}

// Styling the header for gamesModal and waitTimeModal
.scoutModalHeader{
  color: $text;
  text-align: center;
  height: 15vw;
  width: 100%;
  margin-bottom: 0!important;
  // title header
  p:nth-child(1){
    font-family: Quicksand-bold;
    font-size: 4vw;
    display: inline-block;
    margin-top: 3vw;
    margin-left: 8vw;
    margin-bottom: 0;
  }
  // sub title
  p:nth-child(3){
    font-family: quicksand-regular;
    font-size: 3.2vw;
    margin-top: 2vw;
  }
  // question mark icon
  ion-icon{
    display: inline-block;
    float: right;
    font-size: 4vw;
    margin-right: 2vw;        margin-top: 2vw;
    border: 1px solid $borderColor;
    border-radius: 25vw;
    padding: 1vw;
    height: 6vw; width: 6vw;
    color: $primary;
    background: white;
  }
}// gmHeader

.slider-pager-page {
  color: white !important;
}

.slider-pager-page.active {
  color: red !important;
}


#selectDiv{
  border-radius: 3px;
  background-color: $select-background-color;
  height: 8%;
  box-shadow: 0px 1px 1px grey;
  display: table;
  width: 100%;
}

// Centering of the following 2 divs on various screens can be an issue
// perhaps a solution that uses table cells
#selectDiv > p{
  font-size: 5vw;
  color: $in-primary-text;
  float: left;
  vertical-align: middle;
  padding-left:5%;
}

#selectDiv > ion-select{

  //border: 1px solid black;
  float: right;
  vertical-align: middle;
  padding-right: 5%;
}

// Court report icon
.courtReportIcon {
  background-image: url('../assets/img/courtReport.png');
  background-size: 100%;
}


@font-face {
  font-family: "bulls";
  src: url("../assets/fonts/bulls.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "NBA_76ers";
  src: url("../assets/fonts/NBA_76ers.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Axis";
  src: url("../assets/fonts/Axis.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "AxisLower";
  src: url("../assets/fonts/AxisLower.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("../assets/fonts/Averta.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "AvertaBoldItalic";
  src: url("../assets/fonts/AvertaBoldItalic.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "dozen";
  src: url("../assets/fonts/dozen.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "monique";
  src: url("../assets/fonts/monique.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Tavolga";
  src: url("../assets/fonts/Tavolga.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "LuckiestGuy";
  src: url("../assets/fonts/LuckiestGuy.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Play-Regular";
  src: url("../assets/fonts/Play-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Play-Bold";
  src: url("../assets/fonts/Play-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "NBA_Celtics";
  src: url('../assets/fonts/NBA_Celtics.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "NBA_Cavaliers";
  src: url('../assets/fonts/NBA_Cavaliers.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("../assets/fonts/Quicksand/Quicksand-Regular.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../assets/fonts/Quicksand/Quicksand-Bold.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "extravaganzza";
  src: url("../assets/fonts/Extravaganzza/extravaganzza-extra-bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "beba-regular";
  src: url('../assets/fonts/Beba/BebasNeue-Regular.otf') format("truetype");
  font-style: normal;
}

// Below is the styling for the shared header on text/picture posts
.postHeader {
  height: 9vw;
  width: 98%;
  margin-left: 1%;
  border-bottom: 1px solid grey;
  position: relative;

  // the avatar and the name
  #avatarDiv {
    display: inline-block;
    // The user's icon
    img {
      height: 7vw;  width: 7vw;
      border-radius: 25px;
      display: inline-block;
      margin-top: 1vw;
      vertical-align: middle;
    }
    // The user's name
    p {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1vw; margin-top: 1vw;
      font-size: 3vw; font-family: Quicksand-bold;  color: black;
    }
  }

  // the timestamp
  #tsDiv{
    display: inline-block;
    position: absolute;   right: 11vw;    bottom: 2vw;
    padding-right: 2vw;

    // The actual text containing the timestamp
    p {
      font-size: 3vw;
      font-family: Quicksand-bold;
    }
  }

  // The thumbs up and the number
  #validDivForPost{
    display: inline-block;
    float: right;
    height: 100%;
    font-size: 5vw;
    margin-right: 1vw;
    width: 10vw;
    position:relative;
    // The Number
    p{
      display: inline-block;
      font-size: 4vw;   font-family: bulls;
      position: absolute;   bottom: 1vw;  right: 5vw;
    }
    // The thumbs up icon
    ion-icon{
      float: right;
      color: $primary;
      position: absolute;  bottom: 2vw;  right: 0;
    }
  }



}
