


<!-- Selecting the game that is currently being played -->
  <div id="selectDiv">
    <p>Current Game</p>
    <ion-select [(ngModel)]="game" interface="action-sheet" [selectOptions]="selectOptions">

      <ion-option value="5v5" selected="true">5v5</ion-option>
      <ion-option value="4v4">4v4</ion-option>
      <ion-option value="3v3">3v3</ion-option>
      <ion-option value="2v2">2v2</ion-option>
      <ion-option value="1v1">1v1</ion-option>
      <ion-option value="21">21</ion-option>
      <ion-option value="shootaround">Shootaround</ion-option>
      <ion-option value="other">Other</ion-option>

    </ion-select>
  </div>


  <h4 class="gameSkillHeader">Skill Level</h4>
  <!-- Skill Level Slider -->
  <div id="strongPdiv">weaker players   <ion-badge>{{skillLevel.lower}}</ion-badge>
  </div>
  <div id="weakPdiv">stronger players <ion-badge>{{skillLevel.upper}}</ion-badge></div>
  <ion-range
    min="50" max="100" [(ngModel)]="skillLevel"
    pin="true" dualKnobs="true" mode="md"
    >
    </ion-range>


  <button ion-button full round (tap)="submit()">Submit</button>
  <button ion-button full round (tap)="enterDetailedInfo()">enter more information</button>
