page-hoop-map {

}


.ios, .md {

  #navbarTitle{
    text-align: center;
  }

  .scroll {
      height: 100%;
  }

  #map {
      width: 100%;
      height: 100%;
  }

}

#addressInput{
  background-color: color($colors, primary);
  border-radius: 15px;

//  position: absolute;
  //bottom: 1%;
}

#navbarButton{
  background-color: #1976d2;
  color: white;
}

#navbarButton ion-icon{
  font-size: 3vh;
  padding-right: 1vw;
}
