wait-time-modal {

  // Tappable background wich dismisses modal
  #hackground{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
    background-color: #131313;
    opacity: .5
  }

  // conditionally applied if we are not in the window
  .coloredHackground{
    background-color: #131313;
    opacity: .5
  }

  #content{
    width: 95vw;
    height: 58vw;
    margin-left: 3vw;
    position: absolute;
    top: 0;
    background: $background;
    border-radius: 1vw;
  }

  #content div{
    width: 100%;
  }

  // The tappable options
  .amOptions{
    border-top: 1px solid #d3d3d3;
    height: 14.3vw;
    p{display: inline-block}
    p:first-child{
      font-family: NBA_76ers;
      color: white;
      font-size: 7vw;
     //border: 1px solid white;
      width: 23vw;
      height: 7vw;  margin-top: 3.75vw;
      margin-left: 8vw;
    }

    p:nth-child(2){
      font-family: Quicksand-bold;
      font-size: 3.5vw;
    }

  }



}
