<div tappable class='hackground' (click)="viewCtrl.dismiss()"  [class.coloredHackground]="!inWindow"></div>

<div class='goldenContent' [style.margin-top]="margin">

  <!-- Header -->
  <div class="scoutModalHeader">
    <p>Scout Wait Time</p>
    <ion-icon name="help" (click)="info()"></ion-icon>
    <p>Enter the average wait time across your court</p>
  </div>

  <!-- The tappale options -->
  <div tappable class="wtOptions"
  (tap)="this.viewCtrl.dismiss({'waitTime': 'short'})">
    <p style="color: #2dc937;">short</p><p>1 - 2 games</p>
  </div>

  <div tappable class="wtOptions"
  (tap)="this.viewCtrl.dismiss({'waitTime': 'medium'})">
    <p style="color: #007fff">medium</p><p>2 - 3 games</p>
  </div>

  <div tappable class="wtOptions"
  (tap)="this.viewCtrl.dismiss({'waitTime': 'long'})">
    <p style="color: red">long</p><p>3+ games</p>
  </div>
</div>
