<div tappable id="hackground" (tap)="viewCtrl.dismiss()"  [class.coloredHackground]="!inWindow"></div>

<div id="content" [style.margin-top]="margin">

  <!-- Header -->
  <div class="scoutModalHeader">
    <p>Scout Wait Time</p>
    <ion-icon name="help" (click)="info()"></ion-icon>
    <p>Enter the average wait time across your court</p>
  </div>

  <!-- The tappale options -->
  <div tappable class="amOptions"
  (tap)="this.viewCtrl.dismiss({'waitTime': '0 - 1'})">
    <p style="color: #2dc937;">0 - 1</p><p>full games</p>
  </div>

  <div tappable class="amOptions"
  (tap)="this.viewCtrl.dismiss({'waitTime': '1 - 2'})">
    <p style="color: #007fff">1 - 2</p><p>full games</p>
  </div>

  <div tappable class="amOptions"
  (tap)="this.viewCtrl.dismiss({'waitTime': '3+'})">
    <p style="color: red">3+</p><p>full games</p>
  </div>
</div>
