<div tappable id="hackground" (tap)="viewCtrl.dismiss({})"></div>

<div id="content">
  <div id="courtName">
    <!-- Court Name -->
    <p>{{court.name}}</p>
  </div>

    <div id="courtInfo">
      <div>
        <p>{{court.type}}</p><p>court</p>
      </div>

      <div>
        <p>{{court.baskets}}</p><p>baskets</p>
      </div>

      <div>
        <p *ngIf="openNow">open</p><p *ngIf="!openNow">closed</p><p>now</p>
      </div>

    </div>

    <div id="courtLinks">
      <div tappable (tap)="presentHours()">
        <ion-icon name='time'></ion-icon>
      </div>
      <div tappable (tap)="presentWindowModal()">
        <div></div>
      </div>
      <div tappable (tap)="presentClosures()">
        <div></div>
      </div>
    </div>

</div>
