


#courtHeader{
  height: 15vw;   width: 100vw;
}

#courtHeader > p{
  text-align: center;
  font-family: beba-regular;
  font-size: 9vw;
  margin-bottom: 3vw;
  margin-top: 8vw;
}

#infoSpace{
  //border: 1px solid green;
  width: 56vw;
  margin-bottom: 11vw;
  margin-left: 22vw;
}

#infoSpace div {
  display: inline-block;
  text-align: center;
  font-family: Quicksand-Regular;
  width: 49%;
}

#infoSpace div p:nth-child(1){
  font-size: 4vw;
  margin: 0;
  font-weight: bold;
}

#infoSpace div p:nth-child(2){
  font-size: 3vw;
  margin: 0;
}

#infoSpace div:nth-child(1){
  //border-right: 1px solid black;
}

#ballerList{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  position: absolute;
  bottom: -3vw;
  //height: 24vw;
  width: 98vw;
  margin-top: 0;
  margin-left: 1vw;
  margin-right: 1vw;
}

#ballerList ion-item{
  display: inline-block;
  // border: 1px solid blue;
  // width: 38vw;
  width: 24vw;
}

#ballerList img {
  height: 15vw;
  width: 15vw;
  border: 2px solid green;
}

#ballerList > p {
  font-family: Quicksand-Bold;
  display: inline-block;
  margin: 1vw;
  margin-left: 2vw;
  margin-bottom: 0;
}

#ballerList > p:nth-child(2){
  position: absolute;
  right: 1vw;
}

#ballerList ion-scroll ion-item p{
  font-size: 3vw;
  margin-top: 1vw;

}

#ballerList ion-scroll{
  white-space: nowrap;
  overflow:hidden;
  //border: 1px solid red;
  height: 24vw;
}

#ballerList ion-scroll ion-card {
  display: inline-block;
}

court-report {
  // Temporary positioning so that we can see what we're working on.
  // One step at a time

}

#courtPageScroll {
  width: 100%;
  //height: 100%;
  position: absolute;
  top: 64vw;
}
