<ion-header>

  <ion-navbar>
    <ion-title>Hoopnet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="courtHeader">

      <!-- Court Name -->
      <p>Tompkins Square Park</p>

      <!-- Unchanging Court Info -->
      <div id="infoSpace">
        <!-- Indoor vs. Outdoor -->
        <div>
          <p>outdoor</p>
          <p>court</p>
        </div>
        <!-- Number of baskets -->
        <div>
          <p>4</p>
          <p>baskets</p>
        </div>
      </div>


    <!-- Baller List -->
     <div id="ballerList">
       <p>Players</p>
       <p>view all</p>
      <ion-scroll scrollX="true" class="item">

        <ion-item no-lines>
          <ion-avatar>
            <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </ion-avatar>
          <p>Allen Iverson</p>
        </ion-item>

        <ion-item no-lines>
          <ion-avatar>
            <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </ion-avatar>
          <p>Allen Iverson</p>
        </ion-item>
        <ion-item no-lines>
          <ion-avatar>
            <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </ion-avatar>
          <p>Allen Iverson</p>
        </ion-item>
        <ion-item no-lines>
          <ion-avatar>
            <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </ion-avatar>
          <p>Allen Iverson</p>
        </ion-item>
        <ion-item no-lines>
          <ion-avatar>
            <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </ion-avatar>
          <p>Allen Iverson</p>
        </ion-item>

        <ion-item no-lines>
          <ion-avatar>
            <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </ion-avatar>
          <p>Allen Iverson</p>
        </ion-item>

        <ion-item no-lines>
          <ion-avatar>
            <img src="http://kowloon.cementhorizon.com/archives/Iverson21019.jpg"/>
          </ion-avatar>
          <p>Allen Iverson</p>
        </ion-item>
      </ion-scroll>
    </div>
  </div>

<!-- THIS IS AN ERROR - WE'RE CREATING MULTIPLE LISTS, NOT MULTIPLE COURT REPORTS -->

  <!-- List of all of the post objects -->
  <ion-list id="courtPageScroll" *ngFor = "let post of posts">
    <!--If post is courtReport, create new courtReport sending this particular reportData -->
    <court-report *ngIf="post.type === 'courtReport'" [reportData]="post.data"></court-report>
  </ion-list>

</ion-content>
