page-enter-profile-info {

  ion-content{
    background: $background!important;
    position: relative;
  }

  // Message up top
  #enterHeader{
    font-family: Quicksand-regular;
    color: $text;
    font-size: 4.3vw;
    text-align: center;
  }

  // The inputs for getting names
  ion-item{
    background-color: $background!important;
    ion-input{
      color: $text;
      font-family: Quicksand-regular;
    }
  }

  ion-content button{
    font-family: Quicksand-bold;
    background-color: $primary!important;
    color: $offWhite!important;
    position: absolute!important;  bottom: 1vw;
    //margin-top: 20vw!important;
  }

  .imagePicker{
    //border: 1px solid red!important;
    height: 20vw!important;
  }

   ion-input { border-bottom: 0px solid red !important; }


}

  #errorMessage{
    font-family: Quicksand-bold;
    color: red;
    text-align: center;
    font-size: 4vw;
  }
