
<ion-header>

  <ion-navbar>
    <ion-title>Hoop.IQ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <p *ngIf='!edit' id="enterHeader">
    Enter profile info
  </p>
  <p *ngIf='edit' id="enterHeader">
    Edit profile info
  </p>
  <!-- Get First Name -->
  <ion-item>
    <ion-label color="primary" floating>First Name</ion-label>
    <ion-input [(ngModel)]='user.fName' [attr.maxLength]="20"></ion-input>
  </ion-item>

  <!-- Get Nick Name -->
   <ion-item>
     <ion-label color="primary" floating>Nickname</ion-label>
     <ion-input [(ngModel)]='user.nName' [attr.maxLength]="30"></ion-input>
   </ion-item>

  <!-- Get Last Name -->
  <ion-item>
    <ion-label color="primary" floating>Last Name</ion-label>
    <ion-input [(ngModel)]='user.lName' [attr.maxLength]="30"></ion-input>
  </ion-item>

  <ion-item class='imagePicker'tappable (tap)="getAvatar()">
    <ion-label color="primary">Avatar</ion-label>
    <ion-icon item-end name="camera" [style.color]="cameraColor(avatarChange)"></ion-icon>
  </ion-item>

  <ion-item class='imagePicker'tappable (tap)="getBackground()">
    <ion-label color="primary">Background</ion-label>
    <ion-icon item-end name="camera" [style.color]="cameraColor(backgroundChange)"></ion-icon>
  </ion-item>



  <p id='errorMessage' *ngIf='errorMessage'>Please enter both first and last name</p>
  <button ion-button full (tap)='submit()'>Submit</button>
</ion-content>
