court-report {
  height: 38vw;
  width: 100vw;
  //border: 1px solid red;

    ion-card {
      //border: 1px solid blue;
      height: 100%;
      position: relative;
    }

    #reportHeader {
      width: 96%;
      height: 9vw;
       //border: 1px solid grey;
      text-align: center;
      border-bottom: 1px solid grey;
      margin-left: 2%;
      margin-right: 2%;
    }

    #crIconHouse {
      width: 24%;
      //border: 1px solid black;
      height: 9vw;
      display: inline-block;
      float: left;
    }

    .courtReportIcon {
      height: 7vw; width: 7vw;
      display: inline-block;
      float: left;
      margin: 1vw;

      //border: 1px solid black;
    }

    // The timestamp
    #reportTimestamp{
      display: inline-block;
      margin-top: 2vw;

      //border: 1px solid black;
      font-family: Quicksand-bold;
    }

    .validArrows {
      height: 9vw;
      display: inline-block;
      float: right;
      padding: 0;
      color: $primary;
      font-size: 5vw;
      margin-right: 1vw;
      margin-top: 1vw;

    //  border: 1px solid black;
      width: 24%
    }

    .validArrows ion-icon{
      display: inline-block;
    }

    .validArrows p{
      display: inline-block;
    }

    #hoopingNow {
      //border: 1px solid black;
      width: 24vw;
      display: inline-block;

      height: 24vw;
      position: absolute;
      left: 1vw;
      bottom: 1vw;
      text-align: center;

      padding-top: 2vw;
    }

    #hoopingNow p:nth-child(1){
      font-family: bulls;
      font-size: 8vw;
      color: black;
      margin-top: 1vw;
      text-align: center;
    }

    #hoopingNow p:nth-child(2){
      font-family: NBA_Cavaliers;
      color: black;
      font-size: 4vw;
    }

    ion-scroll {
      display: inline-block;
      height: 24vw;
      width: 67vw;
      white-space: nowrap;
      overflow: hidden;
      //border: 1px solid green;
      //float: right;
      position: absolute;
      left: 25vw;
      bottom: 1vw;
      overflow-x: scroll;
    }

    #gamesHeader {
      font-family: Quicksand-Bold;
      color: black;
      margin-left: 2vw;
    }

    .oneBasket {
      //border: 1px solid green;
      height: 16vw;
      width: 16vw;
      margin-left: 2vw;
      opacity: 0.8;
      margin-right: 2vw;
      margin-top: 2vw;
    }

  .oneBasket p{
    font-size: 5vw;
    margin-top: 2vw;
    color: black;
    font-family: bulls;
    opacity: 1.0!important;
    display: inline-block;
  }

  // the 'on'
  .oneBasket p:nth-child(2){
    font-size: 4vw;
    margin-left: .5vw;
    margin-right: .3vw;
  }

  #scrollFiller{
  //  border: 1px solid black;
    display: inline-block;
    height: 2vw;
    //width: 60vw;
  }











}
