page-enter-basic-info {

}

ion-slide{
  //border: 1px solid red;
//  margin-top: -10%;
}

enter-basket-info {
  //border-top: 2px solid blue;
  //margin-top: -20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
