
<ion-header>

  <ion-navbar>
    <ion-title>Courtlife</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div id="amigoTabs" *ngIf='myProfile'>
    <div [ngClass]="{'active': showing === 'friends'}" (tap)="tabSwitch('friends')">
      <p>Friends</p>
    </div>

    <div [ngClass]="{'active': showing === 'add'}" (tap)="tabSwitch('add')">
      <p>Search</p>
    </div>

    <div [ngClass]="{'active': showing === 'requests'}" (tap)="requestTabTapped()">
      <p>Requests</p><ion-badge>{{requestPointers.length}}</ion-badge>
    </div>
  </div>

<!-- Friends list & searchbar -->
<div *ngIf="showing === 'friends'">
  <ion-searchbar
    [(ngModel)]="friendSearchTerm"
    [formControl]='friendSearchControl'
    [showCancelButton]="shouldShowCancel"
  >
  </ion-searchbar>

  <!-- List of friends -->
  <ion-list id="amigoDisplay" *ngIf="!friendLoading">
    <div *ngFor="let profile of friendsShowing" class='userDisplay' tappable (tap)='presentProfile(profile)'>
      <img src="data:{{profile.avatar.contentType}};base64,{{profile.avatar.data}}"/>
      <p>{{profile.fName}}</p><p class="nickName" *ngIf="profile.nName !== '' ">{{profile.nName}}</p><p>{{profile.lName}}</p>
    </div>
  </ion-list>

  <!-- Load wheel -->
  <div class="spinDiv" *ngIf="friendLoading">
    <ion-spinner></ion-spinner>
  </div>
</div>

<!-- Add friends Display -->
<div *ngIf="showing === 'add'">
  <ion-searchbar
    [(ngModel)]='addSearchTerm'
    [formControl]=addSearchControl
    [showCancelButton]='shouldShowCancel'
  >
  </ion-searchbar>

  <!-- List of users returned from search -->
  <ion-list *ngIf="!addLoading">
    <div *ngFor='let user of addResults' class='userDisplay' tappable (tap)="presentProfile(user)">
      <img src="data:{{user.avatar.contentType}};base64,{{user.avatar.data}}"/>
      <p>{{user.fName}}</p><p class="nickName" *ngIf="user.nName !== '' ">{{user.nName}}</p><p>{{user.lName}}</p>
    </div>
  </ion-list>

  <!-- Load wheel -->
  <div class="spinDiv" *ngIf="addLoading">
    <ion-spinner></ion-spinner>
  </div>
</div>


<!-- Friend Request Dislay -->
<div *ngIf="showing === 'requests'">

  <!-- List of friends tat have requested you -->
  <ion-list id="friendRequests" *ngIf=!requestsLoading>
    <div *ngFor="let request of friendRequests" class='userDisplay' tappable (tap)="confirmRequestSheet(request)">
      <img src="data:{{request.avatar.contentType}};base64,{{request.avatar.data}}"/>
      <p>{{request.fName}}</p><p class="nickName" *ngIf="request.nName !== '' ">{{request.nName}}</p><p>{{request.lName}}</p>
    </div>
  </ion-list>

  <!-- Load wheel -->
  <div class="spinDiv" *ngIf="requestsLoading">
    <ion-spinner></ion-spinner>
  </div>
</div>











</ion-content>
