
<ion-header>

  <ion-navbar>
    <ion-title>Courtscope</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div id="amigoTabs" *ngIf='myProfile'>
    <div [ngClass]="{'active': showing === 'friends'}" (tap)="tabSwitch('friends')">
      <p>Friends</p>
    </div>

    <div [ngClass]="{'active': showing === 'add'}" (tap)="tabSwitch('add')">
      <p>Add</p>
    </div>

    <div [ngClass]="{'active': showing === 'requests'}" (tap)="tabSwitch('requests')">
      <p>Requests</p><ion-badge>{{friendRequests.length}}</ion-badge>
    </div>
  </div>

<!-- Friends list & searchbar -->
<div *ngIf="showing === 'friends'">
  <ion-searchbar
    [(ngModel)]="friendSearchTerm"
    [formControl]='friendSearchControl'
    [showCancelButton]="shouldShowCancel"
  >
  </ion-searchbar>

  <ion-list id="amigoDisplay">
    <div *ngFor="let profile of friendsShowing" class='userDisplay' tappable (tap)='navToProfile(profile)'>
      <img src={{profile.avatar}}/>
      <p>{{profile.fName}}</p><p class="nickName" *ngIf="profile.nName !== '' ">{{profile.nName}}</p><p>{{profile.lName}}</p>
    </div>
  </ion-list>
</div>

<!-- Friend Request Dislay -->
<div *ngIf="showing === 'requests'">
  <ion-list id="friendRequests">

    <div *ngFor="let request of friendRequests" class='userDisplay' tappable (tap)="presentRequestSheet(request)">
      <img src={{request.avatar}}/>
      <p>{{request.fName}}</p><p class="nickName" *ngIf="request.nName !== '' ">{{request.nName}}</p><p>{{request.lName}}</p>
    </div>

  </ion-list>
</div>

<!-- Add friends Display -->
<div *ngIf="showing === 'add'">
  <ion-searchbar
    [(ngModel)]='addSearchTerm'
    [formControl]=addSearchControl
    [showCancelButton]='shouldShowCancel'
  >
  </ion-searchbar>
  <ion-list>
    <div *ngFor='let user of addResults' class='userDisplay' tappable (tap)="presentAddSheet(user)">
      <img src={{user.avatar}}/>
      <p>{{user.fName}}</p><p class="nickName" *ngIf="user.nName !== '' ">{{user.nName}}</p><p>{{user.lName}}</p>
    </div>
  </ion-list>
</div>











</ion-content>
