map-search-popover {

  width: 100vw;

  ion-input{
    padding-left: 4%;

    margin: 2%;
    margin-right: 1vw;
    width: 96%;

  }

  button{
    border-radius: 20px;
    width: 25%;
    height: 10%;
  }

  #popoverSearchButton{
    margin-left: 24% !important;
  }

}
