<!--
  Generated template for the MapSearchPopover component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->


  <ion-input type="text" placeholder="find courts by address" id="addressInput"></ion-input>
  <button ion-button round icon id="popoverSearchButton">
    <ion-icon name="search"></ion-icon>
  </button>
  <button ion-button round id="popoverCloseButton" (click)="close()">
    <ion-icon name="close"></ion-icon>
  </button>
  <!-- <button ion-button (click)="moveMap()"> search</button> -->
