
<ion-header>

  <ion-navbar class='ios-header'>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

  <ion-buttons end></ion-buttons>

</ion-header>


<ion-content>
  <!-- Descriptor -->
  <p class="instructionHeader">{{header}}</p>
  <p id="subHeader">{{subHeader}}</p>

  <!-- Searchbar -->
  <ion-searchbar
    [(ngModel)]='searchTerm'
    [formControl]=searchControl
    [showCancelButton]='shouldShowCancel'
    placeholder=" Search Courts"
  >
</ion-searchbar>

  <!-- Results -->
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let court of searchResults" (click)="courtClicked(court)">
      <p>{{court.name}}</p>
    </ion-item>
  </ion-list>

  <div class="spinDiv" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
