<div tappable id="hackground" (tap)="hackground()" [class.coloredHackground]="!inWindow"></div>

<div id="content" [style.margin-top]="margin">
<!-- [style.margin-top]="margin" -->
  <div class="scoutModalHeader">
    <p>Scout Games</p>
    <ion-icon name="help" (click)="info()"></ion-icon>
    <p [style.display]="message" [style.opacity]="messageOpacity">
      Enter the games currently being played at your court
    </p>
    <p [style.display]="error" [style.opacity]="errorOpacity" id="errorMessage">
      This court only has {{courtBaskets}} baskets
    </p>

  </div>

  <!-- The buttons -->
  <div id="buttonsDiv">
    <div tappable class="gmButton" (click)="incrementGamecount(5)">
        <div id="gmGame">
          <p>5</p><p>on</p><p>5</p>
        </div>
      <p id="gameCount" *ngIf="gamecount[5] !== 0">{{gamecount[5]}}</p>
    </div>

    <div tappable class="gmButton"(click)="incrementGamecount(4)">
        <div id="gmGame">
          <p>4</p><p>on</p><p>4</p>
        </div>
      <p id="gameCount" *ngIf="gamecount[4] !== 0">{{gamecount[4]}}</p>
    </div>

    <div tappable class="gmButton" (click)="incrementGamecount(3)">
        <div id="gmGame">
          <p>3</p><p>on</p><p>3</p>
        </div>
      <p id="gameCount" *ngIf="gamecount[3] !== 0">{{gamecount[3]}}</p>
    </div>

    <div tappable class="gmButton" (click)="incrementGamecount(2)">
        <div id="gmGame">
          <p>2</p><p>on</p><p>2</p>
        </div>
      <p id="gameCount" *ngIf="gamecount[2] !== 0">{{gamecount[2]}}</p>
    </div>

    <div tappable class="gmButton" (click)="incrementGamecount(1)">
        <div id="gmGame">
          <p>1</p><p>on</p><p>1</p>
        </div>
      <p id="gameCount" *ngIf="gamecount[1] !== 0">{{gamecount[1]}}</p>
    </div>

    <div tappable class="gmButton" id="noGames" (tap)="noGamesPressed()">
      <p>no games</p>
    </div>

    <div tappable class="gmButton" id="gmClear" (tap)="clearGamecount()">
      <p>reset</p>
    </div>

    <div tappable class="gmButton" id="gmSubmit" (click)="submit()">
      <p>Submit</p>
    </div>

    <div tappable class="gmButton" id="gmCancel" (click)="hackground()">
      <p>cancel</p>
    </div>


  </div>
</div>
