games-modal {

  width: 100vw!important;
  height: 100vh!important;

  position: relative;

  #hackground{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
  }

  #content{
    width: 95vw;
    height: 58vw;
    position: absolute;
    top: 0vw;
    margin-left:2.5vw;
    background: $background;
    z-index: 2;
    border-radius: 1vw;
  }


  #gmHeader{
    font-family: Quicksand-bold;
    color: $text;
    text-align: center;
    font-size: 4vw;
    //border: 1px solid white;
    height: 15vw;
    width: 100%;
    //border: 2px solid red;
    margin-bottom: 0!important;
    background: white;

    p:nth-child(1){
      //border: 1px solid white;
      margin-top: 3vw;
      margin-bottom: 0;
    }
    // error message
    p:nth-child(2){
      font-family: quicksand-bold;
      color: red;
      //border: 1px solid red;
      margin-top: 1vw;
    }
  }// gmHeader

  #buttonsDiv{
    //border: 1px solid red;
    height: 42vw;
    width: 95vw;
    position: absolute;
    bottom: 0;
    padding-top: 3px;
    padding-left: 3px
  }

   .gmButton{
     width: 31.6vw;
     margin: -2px;
     display: inline-block;
     height: 14vw;
    // margin-left: .5vw;
     border-top: 1px solid #d3d3d3;
     background: $background;
     //margin-left: 2px!important;
     position: relative;

     // the div holding'5on5
     #gmGame{
      // border: 1px solid white;
       width: 20vw;
       position: absolute;
       top: 2vw;
       left: 5.7vw;
       height: 9vw;
       width: 20vw;
       padding-left: 1vw;
       // the game numbers
       p:nth-child(odd){
         color: red;
         font-family: NBA_76ers;
         font-size: 7.5vw;
         margin-top: 0;
         color: $text;
       }
       // the on
       p:nth-child(even){
         color: $text;
         font-family: Quicksand-regular;
         margin-left: 1vw; margin-right: 1vw;
       }
     }
     p{ display: inline-block; }
     #gameCount{
       position: absolute;
       right: 1vw;
       bottom: 0;
       margin-bottom: 0vw!important;
       font-family: NBA_76ers;
       color: $primary;
     }

   }

   #noGames{
     p{
       position: absolute;
       color: $offWhite;
       font-family: quicksand-bold;
      // border: 1px solid white;
       font-size: 4vw;
       width: 21vw;
       left: 5.3vw;
       padding: auto;
     }
   }

   #noGames{
     p{
       position: absolute;
       color: red;
       font-family: quicksand-regular;
      // border: 1px solid white;
       font-size: 4vw;
       width: 21vw;
       left: 5.3vw;
       padding: auto;
     }
   }

   #gmClear{
     text-align: center;
     p{
       color: red;
       font-family: quicksand-regular;
      // border: 1px solid white;
       font-size: 4vw;
       width: 21vw;
       left: 5.3vw;
       padding: auto;
     }
   }

   #gmSubmit{
     text-align: center;
     p{
       color: $primary;
       font-family: quicksand-bold;
      // border: 1px solid white;
       font-size: 4vw;
       width: 21vw;
       left: 5.3vw;
       padding: auto;
     }
   }

   #gmCancel{
     text-align: center;
     p{
       color: red;
       font-family: quicksand-regular;
      // border: 1px solid white;
       font-size: 4vw;
       width: 21vw;
       left: 5.3vw;
       padding: auto;
     }
   }



}
